@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}

body {
    background-image: url('../images/bg.webp');
    width: 100vw;
    font-family: 'Roboto';
    font-weight: 500;
    background-color: #ddd;
    color: black;
    font-size: 24px;
    margin: 0 !important;
    min-height: 100vh;
    position: relative;
    padding-bottom: 80px;
}

.logo {
	justify-content: center;
}

.logo img {
	width: 50px;
	height: 50px;
}


.logo {
    background-color: #48bdca;
	font-size: 48px;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 51vw;
    margin: auto;
}

.logo a {
    text-decoration: none;
	color: white;
}

.li > a.menu {
    width: 60px;
}

.menu img {
    width: 35px;
    height: 35px;
    display: flex;
    vertical-align: middle;
}

.menu > a:hover{
	color: #adadad;
}

li.menu {
    margin-right: 20px;
    margin-left: 20px;
	display: flex;
	text-align: left;
	align-items: center;
	justify-content: center;
	height: 40px;
	transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

li.menu > a {
    padding-left: 15px;
    padding-right: 15px;
	transition: color 0.2s ease-in-out;
    display: flex;
    align-items: center;
}

li.menu:hover {
    transform: scale(0.95);
}

.menu > li:hover > a {
	color: #A0A0A0;
}

.nav ol {
    justify-content: center;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav li {
    margin: 0 10px;
}

.nav {
    justify-content: center;
    border-radius: 30px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
	display: flex;
    align-items: center;
	box-sizing: border-box;
	background-color: #679da8;
	width: 51vw;
    margin: auto;
	padding: 15px 0;
}

ol {
	display: flex;
    font-size: 28px;
    height: 35px;
    line-height: 200%;
}

ol a {
	color: #ffffff;
	text-decoration: none;
}

li {
	text-align: center;
}

table {
    border-collapse: collapse;
    width: auto; 
    margin-bottom: 20px; 
}

.content {
    background-color: white;
    width: 80%;
	margin: auto;
    text-align: justify;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.content a {
    text-decoration: none;
    color: black;
}

.content::after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    display: flex;
    text-align: center;
    width: 40vw;
    background-color: #71a5aa;
    position: fixed;
    bottom: 0;
    left: 30%;
    color: white;
    font-size: 18px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.footer p {
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 80px;
}

.social-icons .fa-brands{
    vertical-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: black;
    background-color: white;
    margin: 15px;
}

.promo1 {
    display: flex;
}

.promo2 {
    display: flex;
}

.nav ol li a {
    color: white;
    text-align: center;
}

.nav ol li ul {
    display: block;
    position: absolute;
    top: 100%;
    background-color: #679da8;
    overflow: hidden;
    max-height: 0;
    padding: 0;
    transition: max-height 0.2s ease-in-out;
}

.nav ol li:hover ul {
    padding-bottom: 15px;
}

.nav ol li ul li{
	height: 40px;
    padding: 5px;
	transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.nav ol li ul li a{
	transition: color 0.2s ease-in-out;
    display: flex;
    align-items: center
}

.nav ol li:hover ul {
    max-height: 1000px;
}

.nav ol li ul li:hover {
    transform: scale(0.95);
}

.nav ol li ul li:hover > a {
	color: #A0A0A0;
}

.nav ol li ul li img {
    width: 35px;
    height: 35px;
    padding-right: 10px;
    vertical-align: middle;
}

.discount {
    color: red;
    font-size: 0.8em;
    font-weight: bold;
    white-space: nowrap;
}

.menu ul li a {
    display: flex;
    align-items: center;
    gap: 5px;
}

.product-container {
    margin-left: 25px;
    row-gap: 1em;
    column-gap: 1em;
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
}

.products {
    width: 48%;
    height: 50%;
}

#product1 {
    border: 2px solid #666;
    background-color: #cccccc;
}

#product2 {
    border: 2px solid #666;
    background-color: #bbbbbb;
}

#product3 {
    border: 2px solid #666;
    background-color: #aaaaaa;
}

#product4 {
    border: 2px solid #666;
    background-color: #999999;
}

.product-content {
    display: flex;
    padding: 15px;
    gap: 20px;
}

.product-image {
    flex-shrink: 0;
}

.product-description {
    text-align: left;
    line-height: 1.5;
    font-size: 20px;
}

.product-details {
    flex-grow: 1;
}

.product-name {
    font-weight: bold;
    font-size: 30px;
}
